@model SRCD.Models.IndexViewModel
@{
    ViewBag.Title = "Gerir a sua conta";
}

<div class="container">
    <h3>@ViewBag.Title.</h3>

    <p class="text-success">@TempData["StatusMessage"]</p>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Alterar password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>Registar administrador:</dt>
            <dd>
                @Html.ActionLink("Registar utilizador", "Register", "Account")
            </dd>

        </dl>
    </div>

</div>