@model IEnumerable<SRCD.Models.ClinicaViewModel>
@using SRCD.Models
@{
    ViewData["Title"] = "Index";
}
<div class="container">

    <h1>Clínicas</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a href="@Url.Action("Create")" class="btn btn-info">+ Adicionar clínica</a>
        </p>
    }

    <!-- ********************* BARRA DE PESQUISA **************-->
    <div class="container">
        <div class="row" id="seccao-pesquisa">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4" id="coluna-pesquisa">
                @using (Html.BeginForm("Search", "Clinica", FormMethod.Get, new { @class = "form-inline" }))
                {
                    <input type = "text" name = "name" placeholder = "Pesquisar clínicas" class="form-control form-control-md" />
                    <button type="submit" class="btn btn-info">Pesquisar</button>
                }
                @*<form class="form-inline" action="@Url.Action("Search")"></form>*@
            </div>
        </div>
    </div>

    <div class="row">
        @foreach (var clinica in Model)
        {
            <div class="col-md-12 col-lg-4 data-cols">
                <a href="@Url.Action("Details", new { id = clinica.Id })">
                    <img height="200" width="350" src="@Url.Action("ObterImagen1", new { Id = clinica.Id})" alt="@clinica.Nome" />
                </a>
                <div class="text-center">
                    <hr />
                    <a href="@Url.Action("Details", new { id = clinica.Id })">
                        <p class="text-info"><strong>@clinica.Nome</strong></p>
                    </a>
                    <p class="small">@clinica.Morada</p>
                    <p class="small">@clinica.Email</p>
                    <p class="small">@clinica.Telefone1</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("Edit", "Clinica", new ClinicaViewModel() { Id = clinica.Id })" class="btn btn-info btn-sm">Editar</a>
                        <a href="@Url.Action("Delete", "Clinica", new ClinicaViewModel() { Id = clinica.Id })" class="btn btn-danger btn-sm">Eliminar</a>
                    }
                </div>
            </div>
        }
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="mapa"></div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function inicializar() {

            var mapa = new google.maps.Map(document.getElementById('mapa'), {
                zoom: 15,
                center: { lat: -8.824213, lng: 13.224850 }
            });

            $.ajax({
                url: '@Url.Action("ObterClinicas", "Clinica")',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    data.forEach((element) => {
                        var marker = new google.maps.Marker({
                            position: { lat: parseFloat(element.Latitude), lng: parseFloat(element.Longitude) },
                            map: mapa,
                            title: element.nome
                        });
                        var infoWindowContent = '<div class="text-center">' +
                            '<p><strong>' + element.Nome + '</strong></p>' +
                            '<p>' + element.Morada + '</p>' +
                            '<p>' + element.Email + '</p>' +
                            '<p>' + element.Telefone1 + '</p>' +
                            '</div>';

                        var infowindow = new google.maps.InfoWindow({
                            content: infoWindowContent
                        });

                        marker.addListener('click', function () {
                            infowindow.open(mapa, marker);
                        });
                    });
                },
                error: function () {
                    alert("Não foi possível obter as coordenadas do mapa!!!");
                }
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlPwRKubMZIMDEj4ciL4O_qE68u5GkWYA&callback=inicializar">
    </script>
}


@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem1ContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem2ContentType)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagem1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagem2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagem1ContentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagem2ContentType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
